.container{
    display: flex;
    background-color: #eee;
    justify-content: center;
    align-items: center;
}

.center{
    column-count: 3;
    width: 90%;
}

@media (max-width: 700px) {
    .center{
        column-count: 2;
    }
}

@media (max-width: 530px) {
    .center{
        column-count: 1;
    }
}